<div id="menu" class="container">
    <div id="ho" class="columns">
        <p><strong>Create your winning CV in just in a few minutes!</strong><br> Welcome to your short CV creator <br>
         The website helps you save and add your skills you've gained in your professional life and you can get them when you need jus by log in</p>
    </div>
</div>
