<div id="menu" class="container">
 <form action="/logout" method="get" >
    <title>Logout</title>
    <h1>Logged Out</h1>
    <p>You have been successfully logged out.</p>
    <a href="/">Back to Home</a>
    </form>
</div>