<div id="menu" class="container">
    
<div id="signUp" class="columns" >

<form action="/register" method="POST" class="column">
<section class="column col-3 col-md-12">
<input type="email" name="username"  placeholder="email" required><br>
<input type="password" name="password" placeholder="Password"><br>
<input type="text" name="fname" placeholder="fname" required><br>
<input type="text" name="lname" placeholder="lname" required><br>
<input type="text" name="gender" placeholder="gender"><br>
</section>
<textarea type="text" name="descyourself" placeholder="you can here dec your self" cols="85" rows="5" class="column">

</textarea>
<input type="text" name="proffession" placeholder="proffession"><br>
<input type="number" name="plevel" placeholder="plevel"><br>


<section  id="kk"  class="column col-3 col-md-12">
<h3 id="edheader">Education</h3>
<input type="text" name="Degree" placeholder="Degree"><br>
<input type="date" name="edstartDate" placeholder="startDate"><br>
<input type="date" name="edendDate" placeholder="endDate"><br>
<input type="text" name="language_of_edu" placeholder="language_of_edu"><br>
</section>
<section id="kk" class="column col-3 col-md-12">
<h3 id="skheader">skills</h3>
<input type="text" name="sname" placeholder="Name of skills" required><br>
<input type="text" name="stype" placeholder="the type of skills" required><br>
<input type="text" name="slevel" placeholder="the level of skills" required><br>
</section>

<section id="kk"  class="column col-3 col-md-12">
<h3 id="exheader">experience</h3>
<input type="text" name="jobTitle" placeholder="jobTitle"><br>
<input type="date" name="exstartDate" placeholder="startDate"><br>
<input type="date" name="exendDate" placeholder="endDate"><br>
<input type="text" name="place" placeholder="place"><br>
</section>


<input id ="register" type="submit" value="Register">
</form>


</div>

</div>